* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Vertical mobile
@mixin vertical-mobile {
  @media only screen and (min-width: 665px) {
    @content;
  }
}

//  tablet
@mixin tablet {
  @media only screen and (min-width: 750px) {
    @content;
  }
}
//  windows
@mixin windows {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
// Laptop
@mixin laptop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
