@import "./reset";
@import "./variables";

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );

  @include vertical-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
main {
  @include vertical-mobile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "header hero"
      "main hero";
  }
}
.logo_wrapper {
  img {
    padding: 25px;
    width: 150px;
    height: auto;
    @include windows {
      width: 15em;
      padding: 50px;
    }
    @include laptop {
      padding-left: 0;
    }
  }
  @include vertical-mobile {
    grid-area: header;
  }
  @include windows {
    height: 0;
  }
  @include laptop {
    margin-left: 15em;
    padding-left: 0;
  }
  @include largeScreen {
    margin-left: 10em;
    margin-top: 80px;
  }
}
.hero {
  background: url("../images/hero-mobile.jpg") no-repeat;
  height: 250px;
  @include vertical-mobile {
    background: url("../images/hero-desktop.jpg") no-repeat;
    background-size: 100%;
    grid-area: hero;
    padding: 12em 10em;
  }
  @include windows {
    background-size: cover;
    padding: 25em 18em;
  }
  @include laptop {
    background-size: cover;
    padding: 19.2em 14em;
  }
  @include largeScreen {
    background-size: cover;
    padding: 28.2em 21em;
  }
}
.content_wrapper {
  text-align: center;
  > div {
    padding: 50px 10px;

    > h1 {
      color: $DarkGrayishRed;
      font-size: 2.8rem;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 10px;
      font-weight: map-get($fontWieght, "bolder");
      span {
        font-weight: map-get($fontWieght, "normal");
        color: $DesaturatedRed;
      }
      @include vertical-mobile {
        font-size: 2rem;
      }
      @include tablet {
        font-size: 2.5rem;
      }
      @include laptop {
        font-size: 3.5rem;
        letter-spacing: 15px;
        width: 70%;
      }
    }
    > p {
      margin: 25px 0;
      font-weight: map-get($fontWieght, "bold");
      color: $DesaturatedRed;
      line-height: 1.5;
    }
    @include vertical-mobile {
      padding: 0 0 0 30px;
    }
    @include laptop {
      width: 50%;
      margin: 5em auto 0 auto;
      padding-left: 0;
    }
    @include largeScreen {
      width: 58%;
      margin: auto;
    }
  }
  @include vertical-mobile {
    grid-area: main;
    text-align: left;
  }
}

.email_input_wrapper {
  position: relative;
  div {
    visibility: hidden;
    position: absolute;
    background: white;
    filter: drop-shadow(0 0 0.2em black);
    padding: 1em;
    bottom: 65px;
    left: 50px;
    color: $SoftRed;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50px;
      background: white;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
    }
    &.active {
      visibility: visible;
    }
  }
  input {
    position: relative;
    width: 90%;
    min-width: 320px;
    padding: 15px;
    border: 1px solid $DarkGrayishRedO;
    border-radius: 25px;
    color: $DarkGrayishRed;
    outline: none;
    background: transparent;
    &:focus {
      border-color: $DesaturatedRed;
    }
    @include vertical-mobile {
      min-width: 300px;
    }
    &.error {
      background-image: url("../images/icon-error.svg");
      background-repeat: no-repeat;
      background-position: 70%;
      color: $SoftRed;
      border-color: $SoftRed;
      @include tablet {
        background-position: 22em;
      }
      @include laptop {
        background-position: 23em;
      }
    }
  }
  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 13px 25px;
    border-radius: 25px;
    border: none;
    position: absolute;
    top: 1px;
    right: 5%;
    box-shadow: 0px 10px 30px -10px black;
  }
}
